
:root {
  --theme-color: #2bdc81;
  --primary-color: #edf2f8;
  --light-gray: #6b7688;
  --font-base: 'Playfair Display', serif;
 
  --white-bg: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
